### Tablas Cruzadas

In [1]:
import pandas as pd

hidroponia =pd.read_csv('C:/Users/pc/Desktop/rociochavez/Rocio-Chavez-youtube-Files-master/Hidroponia_costos.csv')

In [2]:
hidroponia

,Cultivo,pH,EC,Hortaliza,Sistema,Duracion_Ciclo,Costo,Ganancia
0,Brocoli,6 to 6.8,2.8 to 3.5,Flor,NFT,70-90,10,29
1,Calabacita,6,1.8 to 2.4,Fruto,Goteo,45,12,33
2,Pepino,5 to 5.5,1.7 to 2,Fruto,Goteo,70-80,8,27
3,Pimientos,5.5 to 6,0.8 to 1.8,Fruto,Goteo,65,30,75
4,fresa,6,1.8 to 2.2,Fruto,NFT,120-150,55,100
5,Tomate,6 to 6.5,2 to 4,Fruto,Goteo,110-120,20,32
6,Albahaca,5.5 to 6,1 to 1.6,Hoja,NFT,90,80,150
7,Repollo,6.5 to 7,2.5 to 3,Hoja,NFT,80-100,7,19
8,Apio,6.5,1.8 to 2.4,Hoja,NFT,90-120,15,26
9,Lechuga,6 to 7,1.2 to 1.8,Hoja,NFT,80-90,10,21
10,Perejil,6 to 6.5,1.8 to 2.2,Hoja,NFT,80,45,70
11,Rabano,6 to 7,1.4 to 1.8,Raiz,Aeroponia,60-70,18,35
12,Espinacas,6 to 7,1.8 to 2.3,Hoja,NFT,75,73,160
13,Zanahoria,5.8 to 6.3,1.6 to 2.0,Raiz,Aeroponia,90-100,6,11
14,Cebollin,6.0 to 7.0,1.4 to 1.8,Tallo,NFT,120,30,75

### Tablas cruzadas
Para variables categoricas y necesitamos saber cuantos individuos presentan

In [3]:
#tablas cruzadas con pandas

pd.crosstab(hidroponia.Hortaliza, hidroponia.Sistema)

Sistema    Aeroponia  Goteo  NFT
Hortaliza
Flor               0      0    1
Fruto              0      4    1
Hoja               0      0    6
Raiz               2      0    0
Tallo              0      0    1

In [5]:
#tablas cruzadas con pandas y totales

pd.crosstab(hidroponia.Hortaliza, hidroponia.Sistema, margins=True)

Sistema    Aeroponia  Goteo  NFT  All
Hortaliza
Flor               0      0    1    1
Fruto              0      4    1    5
Hoja               0      0    6    6
Raiz               2      0    0    2
Tallo              0      0    1    1
All                2      4    9   15

In [6]:
#tablas cruzadas con pandas y porcentajes

pd.crosstab(hidroponia.Hortaliza, hidroponia.Sistema, margins=True, normalize=True)

Sistema    Aeroponia     Goteo       NFT       All
Hortaliza
Flor        0.000000  0.000000  0.066667  0.066667
Fruto       0.000000  0.266667  0.066667  0.333333
Hoja        0.000000  0.000000  0.400000  0.400000
Raiz        0.133333  0.000000  0.000000  0.133333
Tallo       0.000000  0.000000  0.066667  0.066667
All         0.133333  0.266667  0.600000  1.000000

In [7]:
#Pocentaje por columnas
pd.crosstab(hidroponia.Hortaliza, hidroponia.Sistema, normalize='columns')

Sistema    Aeroponia  Goteo       NFT
Hortaliza
Flor             0.0    0.0  0.111111
Fruto            0.0    1.0  0.111111
Hoja             0.0    0.0  0.666667
Raiz             1.0    0.0  0.000000
Tallo            0.0    0.0  0.111111

In [10]:
pd.crosstab([hidroponia.Sistema, hidroponia.Hortaliza], hidroponia.pH)

pH                   5 to 5.5  5.5 to 6  5.8 to 6.3  6  6 to 6.5  6 to 6.8  \
Sistema   Hortaliza
Aeroponia Raiz              0         0           1  0         0         0
Goteo     Fruto             1         1           0  1         1         0
NFT       Flor              0         0           0  0         0         1
          Fruto             0         0           0  1         0         0
          Hoja              0         1           0  0         1         0
          Tallo             0         0           0  0         0         0

pH                   6 to 7  6.0 to 7.0  6.5  6.5 to 7
Sistema   Hortaliza
Aeroponia Raiz            1           0    0         0
Goteo     Fruto           0           0    0         0
NFT       Flor            0           0    0         0
          Fruto           0           0    0         0
          Hoja            2           0    1         1
          Tallo           0           1    0         0

In [11]:
pd.crosstab([hidroponia.Sistema,hidroponia.EC] , [hidroponia.Hortaliza, hidroponia.pH])

Hortaliza                 Flor    Fruto                          Hoja  \
pH                    6 to 6.8 5 to 5.5 5.5 to 6  6 6 to 6.5 5.5 to 6
Sistema   EC
Aeroponia 1.4 to 1.8         0        0        0  0        0        0
          1.6 to 2.0         0        0        0  0        0        0
Goteo     0.8 to 1.8         0        0        1  0        0        0
          1.7 to 2           0        1        0  0        0        0
          1.8 to 2.4         0        0        0  1        0        0
          2 to 4             0        0        0  0        1        0
NFT       1 to 1.6           0        0        0  0        0        1
          1.2 to 1.8         0        0        0  0        0        0
          1.4  to 1.8        0        0        0  0        0        0
          1.8 to 2.2         0        0        0  1        0        0
          1.8 to 2.3         0        0        0  0        0        0
          1.8 to 2.4         0        0        0  0        0        0
          2.5 to 3           0        0        0  0        0        0
          2.8 to 3.5         1        0        0  0        0        0

Hortaliza                                                Raiz         \
pH                    6 to 6.5 6 to 7 6.5 6.5 to 7 5.8 to 6.3 6 to 7
Sistema   EC
Aeroponia 1.4 to 1.8         0      0   0        0          0      1
          1.6 to 2.0         0      0   0        0          1      0
Goteo     0.8 to 1.8         0      0   0        0          0      0
          1.7 to 2           0      0   0        0          0      0
          1.8 to 2.4         0      0   0        0          0      0
          2 to 4             0      0   0        0          0      0
NFT       1 to 1.6           0      0   0        0          0      0
          1.2 to 1.8         0      1   0        0          0      0
          1.4  to 1.8        0      0   0        0          0      0
          1.8 to 2.2         1      0   0        0          0      0
          1.8 to 2.3         0      1   0        0          0      0
          1.8 to 2.4         0      0   1        0          0      0
          2.5 to 3           0      0   0        1          0      0
          2.8 to 3.5         0      0   0        0          0      0

Hortaliza                  Tallo
pH                    6.0 to 7.0
Sistema   EC
Aeroponia 1.4 to 1.8           0
          1.6 to 2.0           0
Goteo     0.8 to 1.8           0
          1.7 to 2             0
          1.8 to 2.4           0
          2 to 4               0
NFT       1 to 1.6             0
          1.2 to 1.8           0
          1.4  to 1.8          1
          1.8 to 2.2           0
          1.8 to 2.3           0
          1.8 to 2.4           0
          2.5 to 3             0
          2.8 to 3.5           0